html * {
    font-family: 'Roboto', sans-serif;
}

h1,p {
    color: #000;
    text-align:left;
    padding-top: 20px;
    padding-left: 125px;
}

.tasks {
    color: rgb(0, 36, 14);
    padding-left: 125px;
}


img {
    max-width: 30px;
}