{%  extends 'bootstrap/base.html'%}

{%  block head %}

    {{ super() }}

    <link rel="shortcut icon" href="{{  url_for('static', filename='images/icon.ico') }}" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


    <title>
        {% block title %} Flask Platzi | {% endblock %}
    </title>

{% endblock %}

{% block body %}
    
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% block content %}
    {% endblock %}

{% endblock %}
